*.env
credentials.json
*.excalidraw
venv/
logs/
TODO.md
src/tmp
tmp/
.project
.dbeaver/
__pycache__/
pycache/
data/
.vscode/
.gitignore
publisher.config.json
publisher.db
publisher.db.wal
publisher_data

malloy-config.json

*.pyc
*.pyo

dags/
dbt/

.DS_Store
my_local_db.duckdb