pandas
python-dotenv
numpy
curl_cffi
requests
beautifulsoup4
sqlalchemy
psycopg2-binary
apscheduler
google-cloud-bigquery
pyarrow
db-dtypes
pandas-gbq
dbt-bigquery
# Report generation
malloy[postgres]
plotly
jinja2